_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.idea*
.idea/PHluorinJ__jar.xml
.idea/uiDesigner.xml
/.classpath
/.project
/.settings/
/target/
/.attach_pid*
/out/artifacts/PHluorinJ__jar/PHluorinJ_.jar
/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea//artifacts/PHluorinJ__jar.xml

/out/artifacts/SynActJ__jar/SynActJ_-0.3.0.jar
