
.idea*
.idea/PHluorinJ__jar.xml
.idea/uiDesigner.xml
/.classpath
/.project
/.settings/
/target/
/.attach_pid*
/out/artifacts/PHluorinJ__jar/PHluorinJ_.jar
/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea//artifacts/PHluorinJ__jar.xml
